<header>
  <div class="pull-right">
    <a href="#" class="">
      <i class="fa fa-sign-in"></i>
      Signup/Signin
    </a>
    &nbsp;&nbsp;
    <a href="#" class="">
      <i class="fa fa-plus"></i>
      Submit a Tutorial
    </a>
  </div>
</header>