<div role="dialog" tabindex="-1" id="login-modal" class="modal fade in" style="display: block;" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <form role="form" action="http://hackr.io/users/login" method="get">
          <div class="info">
        Did you find an awesome course or tutorial? Submit the link below. We'll email you once it is live on the site.
      </div>

      <p>&nbsp;</p>

      <div class="fields">
        <strong>Tutorial/Course URL</strong>
        <input class="form-control" type="text" name="url" placeholder="URL of the tutorial" />
      </div>
      
      <div class="actions">
        <a href="javascript:void(0);" class="js-submit-form btn btn-primary">Submit Tutorial</a>
        <a href="http://hackr.io" class="btn">Back</a>
      </div>
      </form>
    </div>
  </div>
</div>