<div id="status">
  <div id="update">
  <div class="container">

<%= render "navbar" %>

<p>&nbsp;</p>
<%= @all.count %>

<%= render "header" %>    
    <div class="row">
            <div class="col-md-4">
        <div class="panel panel-default modules">
          <!-- List group -->
            <table class="table table-hover">
              <tbody>            
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C++                     </a>  
                    </td>
                  </tr>
                      
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        js                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C#                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C/C++                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        PHP                      </a>  
                    </td>
                  </tr>
                   
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                      </a>  
                    </td>
                  </tr>
                        
                  </tr>
                        
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                     </a>  
                    </td>
                  </tr>
                              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default modules">
          
          <!-- List group -->
            <table class="table table-hover">
             <tbody>            
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C++                     </a>  
                    </td>
                  </tr>
                      
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        js                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C#                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C/C++                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        PHP                      </a>  
                    </td>
                  </tr>
                   
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                      </a>  
                    </td>
                  </tr>
                        
                  </tr>
                        
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                     </a>  
                    </td>
                  </tr>
                              </tbody>
            </table>          
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default modules">
          <!-- List group -->
            <table class="table table-hover">
              <tbody>            
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C++                     </a>  
                    </td>
                  </tr>
                      
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        js                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C#                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        C/C++                      </a>  
                    </td>
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        PHP                      </a>  
                    </td>
                  </tr>
                   
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                      </a>  
                    </td>
                  </tr>
                        
                  </tr>
                        
                  </tr>
                                  <tr>
                    <td class="pading-0">
                      <a class="clickable-row" href="#">
                        Java                     </a>  
                    </td>
                  </tr>
                              </tbody>
            </table> 
        </div>
      </div>
    </div>

    <p>&nbsp;</p>
    <%= render "footer" %>
  </div>
</div>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->  
<!-- end olark code -->
</div> 