<div class="row">
    <div class="col-md-12">
        <div class="messages">
          <h1 style="font-size:22px;margin-bottom: 25px;">
            	<%= @category %> Tutorials and Courses
        	</h1>&nbsp;
			<p>&nbsp;</p>
            <% if @data %>
    			<div id="tutorial_links">
    				<%= render :partial => @data %>
    			</div>
            <% else %>
                <div class="highlight">
                    <h3>NO Tutorials or Courses are available</h3>
                </div>
            <% end %>
		</div><p>&nbsp;</p>
    </div>
</div>